@model MVCClient.Models.Building

@{
    ViewData["Title"] = "GetDetails";
}

<h1>GetDetails</h1>

<h4>Building</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="building_id" class="control-label"></label>
                <input asp-for="building_id" class="form-control" />
                <span asp-validation-for="building_id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cost" class="control-label"></label>
                <input asp-for="cost" class="form-control" />
                <span asp-validation-for="cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
    <a class="btn btn-success" href="@Url.Action("Index","Building")">Back to menu</a>
</div>

