
@{
    ViewData["Title"] = "Index";
}

<h4>building has been added</h4>
<p>
    <a class="btn btn-success" href="@Url.Action("Details","Building")">List of available buildings</a>

    <a class="btn btn-success" href="@Url.Action("Logout","Login")">signout</a>
</p>

